body{
    background-image: url(../aseets/fondoJMG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    width: 1000px;
    min-height: 400px;
    background-color:rgb(21, 196, 15);
    position: relative;
    margin: auto;
    border: 1px solid #000;
}
header.principal{
    position: relative;
    width: 100%;
    height: 400%;
    border-bottom: 1px solid rgb(10, 228, 65);
    background-color: rgba(20, 202, 35, 0.911);
}
header.principal div.logo{
    position: relative;
    width: 150px;
    height: 190px;
    top:30px;
    left: 35px;
    background-image: url(../aseets/img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header.principal h1{
    position: absolute;
    top: 50px;
    left: 200px;
    font-family: "tahoma";
}
nav.nav_horizontal{
    border-bottom: 6px solid rgb(5, 138, 5);
    background: #0ca107 ;
}
nav.nav_horizontal li{
    position: relative; 
    border:0px;
    margin:0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
nav.nav_horizontal ul{
      position: relative;
      border: 0px;
      padding: 0px;
      margin: 0px;

}
nav.nav_horizontal li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(250, 253, 255);
    font-weight: bold;
}
nav.nav_horizontal li a:hover{
    background-color: rgb(214, 73, 7);
    color: rgb(10, 9, 1);
}
    #slideshow{
        position: relative;
        background-color: rgb(248, 252, 250);
        border: 2px solid rgb(3, 109, 17);
        width: 700px;
        height: 250px;
        margin: 50px auto;
    }
    #slideshow button{
        background-color: rgb(23, 204, 77);
        width: 50px;
        height: 50px;
        border: 2px solid rgb(10, 136, 10);
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 100px;
    }
    #slideshow button:hover{
        background-color: rgb(214, 73, 7);
        color:rgb(7, 7, 7);
     }
button.prev{
    left: -25px;
}
button.next{
    right: -25px;
}
.col {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    width: 328px;
    min-height: 200px;
    background-color: rgba(255,255,255,8);
    border-top:2px solid rgb(6, 180, 20);
    vertical-align:top;
}
.col header{
    text-align: center;
}
.col header img{
    width: 60px;
    height: 60px;
    border: 2px solid #0ca107;
    margin: -30;
    background-color: aliceblue;
    border-radius: 50%;
}
div.cols p{
    padding: 20px;
    text-justify: auto;
}
footer{grid-column:1/4;
    grid-row:3/4;
    background:rgb(38, 236, 12);
    height: 50px;
    border-radius: 70%;
    padding: 16px;
    text-align: center;
    padding: 16px;
    margin: 6px;
}
footer.principal{

    }